html{
  scroll-behavior: smooth;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 27px !important;
}
.swiper-button-next{
  right: -7px !important;
}
.swiper-button-prev{
  left: -7px !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  transition: 0.3s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  border-width: 1px;
  border-color: #e35a00 !important;
}
.mattress .swiper-button-next,
.mattress .swiper-button-prev {
  color: #e35a00 !important;
  background-color: white;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07));
}
.mattress .swiper-button-next::after,
.mattress .swiper-button-prev::after {
  font-size: 20px !important;
}
.mattress .swiper-button-next{
  right: 0 !important;
  top: 30% !important;
}
.mattress .swiper-button-prev{
  left: 0 !important;
  top: 30% !important;
}

.nav .active{
  padding-bottom: 10px;
  border-bottom: solid 2px #f26522;
}

.nav li,
.footer li{
  overflow: hidden;
  position: relative;
  width: fit-content;
  padding-bottom: 10px;
}

.nav li::before,
.footer li::before{
  content: "";
  width: 100%;
  height: 2px;
  background-color: #f26522;
  position: absolute;
  bottom: 0;
  left: -100%;
  transition: 1s;
}

.nav li:hover::before,
.footer li:hover::before{
  left: 0;
}

.nav .active::before{
  left: 0;
}

.zoom:hover img{
  transform: scale(1.05);
  transition: 1s;
}

.zoom:hover {
  transition: 0.5s;
}

.mattress-card:hover .m-title{
  color:white;
}
.mattress-card:hover .m-title{
  border-color: white;
}
